/* Colors:
black: #000;
white: #fff;
main: #1EAEDB;

*/

/* Universal */

html {
  box-sizing: border-box;
  min-width: 320px;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: 'Corben', 'Garamond', serif;
  background: linear-gradient(to bottom, #fff 1%,#e2e2e2 100%);
  min-width: 320px;
}

/* OOCSS */

.font-alt { font-family: 'Kaushan Script', cursive; }
.font-white { color: #fff; }
.align-center { text-align: center; }
.hide { display: none; }
.large { display: none; }

/* Layout */

#header {
  padding: 20px;
}

/* Header */

#tease {
  font-size: 1.3em;
}

#title {
  margin-top: 60px;
}

#byline {
  width: 50%;
  font-size: 1.7em;
}

/* Main  */

main {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}

#content {
  background: #1EAEDB;
  height: 100%;
  border-radius: 20px 0px 0px 0px;
  padding: 30px;
}

#description > p:first-child::first-letter {
  font-size: 6em;
  line-height: 1em;
  margin-right: .2em;
  float: left;
  font-family: 'Kaushan Script', cursive;
}

#rotating-callout {
  width: 50%;
  padding: 0px 10px;
  position: absolute;
  left: 0px;
  top: 20px;
  overflow: hidden;
  height: 80px;
}

#rotating-callout > p {
  position: relative;
  z-index: 1;
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 18px;
  transform: rotate(8deg);
  top: 20px;
}

#rotating-callout::after {
  content: ' ';
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #1EAEDB;
  display: block;
  border-radius: 0px 80% 0px 0px;
}

#cta {
  background: url('../images/cta-frame.svg') no-repeat transparent;
  width: 250px;
  height: 250px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px 50px 50px 20px;
  transform: rotate(-15deg);
  margin: 50px auto;
  position: relative;
}

#cta:hover {
  top: -3px;
}

#cta-top {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 10px;
}

#cta-bottom {
  font-size: 1.2em;
  color: #000;
  margin: 10px 0px 0px;
}

#cta > img {
  width: 80%;
}
/* Sidebar */

#sidebar {
  background: #000;
  padding: 20px 0px;
}

#selfie {
  position: relative;
}

#selfie > img {
  position: absolute;
  width: 40%;
  bottom: -100px;
  right: 5%;
  z-index: 2;
  max-height: 200px;
}

#sidebar-links {
  padding: 0px 20px;
}

#sidebar-links > li {
  display: block;
  position: relative;
  margin: 20px auto;
  max-width: 65%;
}

.sidebar-link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 10px 20px;
  height: 85px;
}

#sidebar-links > li::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(10deg);
  transition: transform 300ms;
  background: #1EAEDB;
  z-index: 0;
}

#sidebar-links > li:nth-child(even)::after {
  transform: skew(-10deg);
}

#sidebar-links > li:hover::after, #sidebar-links > li:nth-child(even):hover::after {
  transform: skew(0deg);
}


.sidebar-link-intro {
  margin-bottom: 5px;
}

.sidebar-link-img {
  display: block;
  max-height: 35px;
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .large {
    display: inline;
  }
  #homepage {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 300px 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    min-height: 100vh;
    min-width: 320px;
  }
  #byline {
    width: 100%;
  }
  #selfie > img {
    position: absolute;
    width: 85%;
    bottom: -40px;
    left: 5%;
    right: auto;
  }
  #rotating-callout {
    left: auto;
    right: 0px;
    top: 0px;
    height: 100px;    
  }
  #rotating-callout::after {
    border-radius: 80% 0px 0px 0px;
  }  
  #rotating-callout > p {
    transform: rotate(-8deg);
    font-size: 24px;
    top: 30px;
  }
  #description {
    column-count: 2;
  }
  #sidebar {
    border-radius: 0px 20px 0px 0px;
    padding-top: 80px;
  }  
  #sidebar-links > li {
    max-width: 100%;
  }
  .sidebar-link { 
    height: auto;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}